* { /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} /*Fine Reset*/

body{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #E579E6;
    width: 100%;
    height: 100px;
    margin: 15px auto;
}
.paragrafo-1{
    background-color: #E1D67A;
    width: 100%;
    height: 300px;
    margin: 15px auto;
}

.paragrafo-2{
    height: 400px;
    width: 100%;
    background-color: #0185FF;
}

.sezione-top{
    background-color: #ABCFE7;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    }

.sezione-side{ 
    background-color: #ABCFE7;
    width: 20%;
    height: 320px;
    float: left;
}

.sezione-mid{
    background-color: #ABCFE7;
    height: 320px;
    width: calc( 60% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

footer {
    width: 100%;
    height: 40px;
    background: #8601FF;
    margin: 5px auto;
}